body{
    background-image: url(/images/pattern-background-mobile.svg) no-repeat;
}

section{
    width: 375px;
    position: relative;
    margin: 0 auto;
    border-radius: 20px !important; 
}
#order-summary{
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
}
#subscription-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em;
    padding: 3em;
}